/coverage
/src/client/shared.ts
/src/node/shared.ts
*.log
*.tgz
.idea
.temp
.vite_opt_cache
.vscode
dist
cache
temp
examples-temp
node_modules
pnpm-global
TODOs.md
*.timestamp-*.mjs
docs/.vitepress/cache/
docs/.vitepress/dist/
.DS_Store
*/.DS_Store
package-lock.json